
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button, submit {
    border: none;
    background-color: transparent;
}

button {
    cursor: pointer;
}

.setupPage{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    
    &__body{
        height: 65%;
        width: 100%;
        
        display: grid;
        grid-template-columns: 30% 70%;
    }
}