* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $blue;
}

ul {
  list-style: none;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.Amazing {
  color: #009700;
}
.Good {
  color: #ffb158;
}
.Meh {
  color: black;
}
.Awful {
  color: #c30101;
}
.Unrated {
  color: #00335640;
}
