@mixin alert($color) {
  color: $color;
  background-color: rgba($color, 0.3);
}

.alert {
  $alertHeight: 40px;
  width: calc(100% - 10px);
  margin: 5px;
  justify-self: center;
  height: $alertHeight;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  pointer-events: none;

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      bottom: ($i - 2) * ($alertHeight + 2px);
    }
  }

  &-error {
    @include alert(rgb(170, 2, 2));
  }
  &-success {
    @include alert(rgb(41, 170, 2));
  }
}

.btn {
  cursor: pointer;
  border-radius: 0.3em;
  transition: all 0.1s ease-out;
  font-size: 1.1em;

  &-error {
    animation: buttonError 0.1s linear;
  }

  &-hover:hover {
    transform: scale(1.015);
  }

  &-shadow {
    box-shadow: 0 0 7px rgba(black, 0.4);
  }

  &-fill {
    font-weight: 700;

    &-orange {
      background-color: $orange;
      color: white;

      &-disabled {
        background-color: desaturate($orange, 69%);
        box-shadow: none;
        cursor: not-allowed;
      }

      &-active {
        transform: scale(0.95);
      }
    }

    &-blue {
      background-color: $lightGrey;
      color: $blue;

      &:hover,
      &-active {
        background-color: $blue;
        color: white;
      }

      &-active {
        transform: scale(0.95);
      }
    }
  }

  &-outline {
    font-weight: 600;

    &-orange {
      border: 2px solid $orange;
      color: $orange;

      &:hover,
      &-active {
        background-color: $orange;
        color: white;
      }

      &-active {
        transform: scale(0.95);
      }

      &-disabled:hover {
        background-color: white;
        color: $orange;
      }
    }
  }

  &-flexible {
    padding: 8px 20px;
  }
}

@keyframes buttonError {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

.dropdown {
  background-color: white;
  box-shadow: 2px 2px 10px rgba(black, 0.2);
  position: absolute;
  opacity: 0;
  pointer-events: none;

  &-open {
    pointer-events: all;
    animation: openDropdown 0.3s forwards;
  }
}

@keyframes openDropdown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
