.swiper-container {
  padding-bottom: 100px;
}

.swiper-pagination-bullet {
  border-radius: 0;
  height: 2px;
  width: 10px;

  &-active {
    background-color: $blue;
  }
}

.carousel {
  &__title {
    font-weight: 600;
    font-size: 1.3em;
    width: max-content;
    line-height: 1.3em;
    &__border {
      height: 2px;
      width: 80%;
      background-color: $orange;
      border: none;
    }
  }

  &__subtitle {
    font-weight: 400;
    margin-top: 7px;
    font-size: 0.9em;
    margin-bottom: 30px;
  }

  &__template {
    height: 440px;
    width: 345px;
    border: 1px solid rgba(0, 51, 86, 0.7);
    padding: 0 50px;
    box-sizing: border-box;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &__addIcon {
      height: 40px;
      width: 40px;
      margin-bottom: 10px;
    }

    &__title {
      text-align: center;
      font-size: 1.3em;

      &__border {
        height: 1px;
        width: 25%;
        background-color: $orange;
        border: none;
      }
    }

    &__subtitle {
      font-weight: 400;
      text-align: center;
    }
  }
}

@media (max-width: 900px) {
  .carousel {
    &__title {
      font-size: 1.2em;

      &__border {
        height: 1px;
      }
    }

    &__subtitle {
      font-size: 0.8em;
    }

    &__template {
      height: 350px;
      width: 274px;

      &__addIcon {
        height: 30px;
        width: 30px;
      }

      &__title {
        font-size: 1.1em;
      }

      &__subtitle {
        font-size: 0.8em;
      }
    }
  }
}

@media (max-width: 700px) {
  .carousel {
    &__title,
    &__subtitle {
      text-align: center;
      margin: 0 auto;
    }

    &__title {
      font-size: 1em;
      margin-bottom: 7px;
    }

    &__subtitle {
      font-size: 0.5em;
      margin-bottom: 20px;
    }

    &__title__border {
      margin: 0 auto;
    }

    &__template {
      height: 300px;
      width: 235px;
      padding: 0 25px;
      margin: 0 auto;
      margin-bottom: 75px;

      &__title {
        font-size: 1em;
      }

      &__subtitle {
        font-size: 0.5em;
      }
    }
  }
}
