.dashboard {
  margin: 0 auto;
  &__personIcon {
    background-color: $darkBlue;
    height: 50px;
    width: 60px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 200;
  }

  &__hline {
    border-top: 1px solid $lightGrey;
  }

  &__title {
    font-size: 2.5em;
    font-weight: 600;
  }

  &__subtitle {
    font-weight: 400;
  }

  &__content {
    width: 1600px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 50px;
  }

  &__nav-button {
    margin-right: 40px;
    padding: 5px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__routes {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 80px;

    &__route {
      cursor: pointer;
      text-decoration: none;
      font-size: 1.2em;
      font-weight: 700;
      color: rgba($blue, 0.4);

      &-active {
        border-bottom: 1px $orange solid;
        color: $blue;
      }
    }
  }

  &__buttons {
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }

  &__footer {
    width: 100%;
    height: 200px;
    background-color: $orange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin-top: 200px;
  }
}

.spacer {
  height: 75px;
}
@media (max-width: 1700px) {
  .dashboard__content {
    width: 1188px;
  }
}
@media (max-width: 1300px) {
  .dashboard__content {
    width: 776px;
  }
}

@media (max-width: 900px) {
  .swiper-slide {
    width: 270px;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title,
    &__subtitle {
      text-align: center;
    }

    &__title {
      font-size: 2em;
    }

    &__content {
      padding: 0;
      width: 80%;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      &__button {
        font-size: 0.8em;
      }
    }

    &__personIcon {
      margin-bottom: 50px;
      height: 70px;
      width: 70px;
      font-size: 1.5em;
    }

    &__routes {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      position: fixed;
      background-color: white;
      height: 100vh;
      width: 50%;
      margin-top: 0;
      top: 0;
      right: 0;
      gap: 0;
      padding-top: 80px;

      transition: transform 0.25s ease-out;
      transform: translateX(100%);
      z-index: 5;

      &__shadow {
        transition: opacity 0.25s ease-out;
        opacity: 0;
        z-index: 4;

        &[isopen="true"] {
          pointer-events: none;
          width: 200vh;
          height: 100vh;
          background-color: rgba(black, 0.4);
          position: fixed;
          top: 0;
          left: 0;
          opacity: 1;
        }
      }

      &__route {
        padding: 20px 0;
        margin: 10px 0;
        &-active {
          width: 100%;

          text-align: center;
          background-color: $lightGrey;
          font-size: 1.1em;
          border-bottom: none;
        }
      }

      &[isopen="true"] {
        transform: translateX(0);
      }
    }

    &__footer {
      height: 100px;
      font-size: 1.5em;
      margin-top: 100px;
    }
  }
}

@media (max-width: 350px) {
  .dashboard {
    &__buttons__button {
      font-size: 0.5em;
      padding: 5px;
    }
    &__title {
      font-size: 1.5em;
    }
    &__subtitle {
      font-size: 0.9em;
    }

    &__routes__route {
      font-size: 0.9em;
    }
  }
}
