.ratingSetup {
  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__button {
    height: 45px;
    width: 135px;

    &-rating {
      margin: 5px 10px;
      font-size: 0.85em;
    }
  }

  &__label {
    margin-bottom: 15px;
  }

  &__categoriesList {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  &__ratingOptionsList {
    width: 100%;
  }

  &__section {
    display: grid;
    grid-template-columns: 55% auto;
    gap: 50px;

    &-select {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__submit {
    margin: 0 auto;
    margin-top: 50px;
  }

  &__select {
    width: 70%;
    height: 40px;
    box-shadow: 0px 2px 5px rgba(black, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 1.2em;
    min-width: 200px;
    position: relative;

    input {
      padding-left: 10px;
      font-size: 0.8em;
      font-weight: 600;
      color: $blue;
      width: calc(100% - 40px);

      &::placeholder {
        color: rgb(211, 211, 211);
        font-weight: 400;
      }
    }

    p {
      position: absolute;
      right: 10px;
      font-weight: 300;
      font-size: 0.8em;
      cursor: pointer;
    }
  }
}

@media (max-width: 1600px) {
  .ratingSetup__button {
    height: 35px;
    width: 105px;
    font-size: 0.95em;
  }
}
@media (max-width: 1200px) {
  .ratingSetup {
    &__categoriesList {
      max-width: 650px;
    }
  }
}

@media (max-width: 900px) {
  .ratingSetup {
    &__section {
      grid-template-columns: 100%;

      &-select {
        margin: 0 auto;
        text-align: center;
      }
    }

    &__select {
      margin: 0 auto;
      width: 80%;
    }

    &__submit {
      margin-bottom: 100px;
    }

    &__button {
      height: 35px;
      width: 100%;
      margin: 2px;

      &-rating {
        margin: 5px 10px;
        font-size: 0.85em;
        width: 60%;
      }
    }

    &__categoriesList {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5px;
      max-width: none;
    }
    &__ratingOptionsList {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 700px) {
  .ratingSetup {
    &__button {
      height: 35px;
      width: 100%;
      margin: 2px;

      &-rating {
        margin: 5px 10px;
        font-size: 0.85em;
        width: 80%;
      }
    }

    &__categoriesList {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 5px;
      max-width: none;
    }
    &__ratingOptionsList {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
