.userSetup {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__button {
      width: 30%;
      height: 45px;
    }

    &__label {
      margin-top: 25px;
      margin-bottom: 15px;
      transition: color 0.2s ease-out;

      &-error {
        color: red;
      }
    }

    &__section {
      display: flex;
      justify-content: space-between;
      max-width: 800px;

      &-budget {
        display: flex;
        align-items: center;
        position: relative;

        i {
          position: absolute;
          left: 10px;
          font-size: 1.3em;
          color: $darkBlue;
        }
      }
    }

    &__submit {
      margin-top: 50px;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 315px;
      height: 45px;
    }

    &__budget {
      width: 30%;
      height: 45px;
      font-size: 1.3em;
      box-sizing: border-box;
      padding-left: 30px;
      color: $darkBlue;
      background-color: $lightGrey;
      font-weight: 600;
      border-radius: 0.3em;
    }
  }
}

@media (max-width: 900px) {
  .userSetup {
    &__form {
      margin-top: 20px;
      &__section {
        flex-direction: column;
        gap: 20px;

        &-budget {
          justify-content: center;
        }
      }

      &__button {
        width: 100%;
        font-size: 1em;
      }

      &__budget {
        width: 100%;
        font-size: 0.9em;
      }

      &__submit {
        margin-bottom: 100px;
        width: 100%;
        font-size: 1em;
      }
    }
  }
}
