* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #003356;
}

ul {
  list-style: none;
}

input,
button,
select,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.Amazing {
  color: #009700;
}

.Good {
  color: #ffb158;
}

.Meh {
  color: black;
}

.Awful {
  color: #c30101;
}

.Unrated {
  color: #00335640;
}

.alert {
  width: calc(100% - 10px);
  margin: 0 5px;
  height: 40px;
  position: absolute;
  bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
}

.alert-error {
  color: #aa0202;
  background-color: #fe9494;
}

.alert-success {
  color: #29aa02;
  background-color: #acfe94;
}

.btn {
  cursor: pointer;
  border-radius: 0.3em;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  font-size: 1.1em;
}

.btn-error {
  -webkit-animation: buttonError 0.1s linear;
          animation: buttonError 0.1s linear;
}

.btn-hover:hover {
  -webkit-transform: scale(1.015);
          transform: scale(1.015);
}

.btn-shadow {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}

.btn-fill {
  font-weight: 700;
}

.btn-fill-orange {
  background-color: #ff5f58;
  color: white;
}

.btn-fill-orange-disabled {
  background-color: #c59492;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: not-allowed;
}

.btn-fill-orange-active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-fill-blue {
  background-color: #e9e9e9;
  color: #003356;
}

.btn-fill-blue:hover, .btn-fill-blue-active {
  background-color: #003356;
  color: white;
}

.btn-fill-blue-active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline {
  font-weight: 600;
}

.btn-outline-orange {
  border: 2px solid #ff5f58;
  color: #ff5f58;
}

.btn-outline-orange:hover, .btn-outline-orange-active {
  background-color: #ff5f58;
  color: white;
}

.btn-outline-orange-active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-orange-disabled:hover {
  background-color: white;
  color: #ff5f58;
}

.btn-flexible {
  padding: 8px 20px;
}

@-webkit-keyframes buttonError {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes buttonError {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  75% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.dropdown {
  background-color: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.dropdown-open {
  pointer-events: all;
  -webkit-animation: openDropdown 0.3s forwards;
          animation: openDropdown 0.3s forwards;
}

@-webkit-keyframes openDropdown {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes openDropdown {
  from {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.nav {
  height: 80px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__logo {
  font-size: 2.7em;
  font-weight: 500;
  color: #ff5f58;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.nav__button {
  width: 150px;
  height: 35px;
  background-color: #ff5f58;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 1em;
}

@media (max-width: 900px) {
  .nav {
    height: 60px;
  }
  .nav__logo {
    font-size: 1.8em;
  }
  .nav__button {
    width: 90px;
    height: 21px;
    border-radius: 4px;
    font-size: 0.7em;
  }
}

.setupSidebar {
  height: 100%;
  width: 100%;
  background-color: #1e2f42;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 0 80px 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setupSidebar__title {
  font-size: 1.8em;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 15%;
  line-height: 120%;
}

.setupSidebar__title-bold {
  font-weight: 500;
}

.setupSidebar__item {
  font-size: 1.2em;
  color: white;
  font-weight: 200;
  margin-bottom: 7%;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .setupSidebar {
    display: none;
  }
}

.dashboard {
  margin: 0 auto;
}

.dashboard__personIcon {
  background-color: #1e2f42;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3em;
  font-weight: 200;
}

.dashboard__hline {
  border-top: 1px solid #e9e9e9;
}

.dashboard__title {
  font-size: 2.5em;
  font-weight: 600;
}

.dashboard__subtitle {
  font-weight: 400;
}

.dashboard__content {
  width: 1600px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 50px;
}

.dashboard__nav-button {
  margin-right: 40px;
  padding: 5px;
  font-weight: 700;
  white-space: nowrap;
}

.dashboard__routes {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  gap: 80px;
}

.dashboard__routes__route {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  color: rgba(0, 51, 86, 0.4);
}

.dashboard__routes__route-active {
  border-bottom: 1px #ff5f58 solid;
  color: #003356;
}

.dashboard__buttons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.dashboard__footer {
  width: 100%;
  height: 200px;
  background-color: #ff5f58;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  margin-top: 200px;
}

@media (max-width: 1700px) {
  .dashboard__content {
    width: 1188px;
  }
}

@media (max-width: 1300px) {
  .dashboard__content {
    width: 776px;
  }
}

@media (max-width: 900px) {
  .swiper-slide {
    width: 270px;
  }
  .dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard__title, .dashboard__subtitle {
    text-align: center;
  }
  .dashboard__title {
    font-size: 2em;
  }
  .dashboard__content {
    padding: 0;
    width: 80%;
  }
  .dashboard__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard__buttons__button {
    font-size: 0.8em;
  }
  .dashboard__personIcon {
    margin-bottom: 50px;
    height: 70px;
    width: 70px;
    font-size: 1.5em;
  }
  .dashboard__routes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    background-color: white;
    height: 100vh;
    width: 50%;
    margin-top: 0;
    top: 0;
    right: 0;
    gap: 0;
    padding-top: 80px;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    z-index: 5;
  }
  .dashboard__routes__shadow {
    -webkit-transition: opacity 0.25s ease-out;
    transition: opacity 0.25s ease-out;
    opacity: 0;
    z-index: 4;
  }
  .dashboard__routes__shadow[isopen="true"] {
    pointer-events: none;
    width: 200vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
  }
  .dashboard__routes__route {
    padding: 20px 0;
    margin: 10px 0;
  }
  .dashboard__routes__route-active {
    width: 100%;
    text-align: center;
    background-color: #e9e9e9;
    font-size: 1.1em;
    border-bottom: none;
  }
  .dashboard__routes[isopen="true"] {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .dashboard__footer {
    height: 100px;
    font-size: 1.5em;
    margin-top: 100px;
  }
}

@media (max-width: 350px) {
  .dashboard__buttons__button {
    font-size: 0.5em;
    padding: 5px;
  }
  .dashboard__title {
    font-size: 1.5em;
  }
  .dashboard__subtitle {
    font-size: 0.9em;
  }
  .dashboard__routes__route {
    font-size: 0.9em;
  }
}

.swiper-container {
  padding-bottom: 75px;
}

.carousel__title {
  font-weight: 600;
  font-size: 1.3em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 1.3em;
}

.carousel__title__border {
  height: 2px;
  width: 80%;
  background-color: #ff5f58;
  border: none;
}

.carousel__subtitle {
  font-weight: 400;
  margin-top: 7px;
  font-size: 0.9em;
  margin-bottom: 30px;
}

.carousel__template {
  height: 440px;
  width: 345px;
  border: 1px solid rgba(0, 51, 86, 0.7);
  padding: 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.carousel__template__addIcon {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.carousel__template__title {
  text-align: center;
  font-size: 1.3em;
}

.carousel__template__title__border {
  height: 1px;
  width: 25%;
  background-color: #ff5f58;
  border: none;
}

.carousel__template__subtitle {
  font-weight: 400;
  text-align: center;
}

@media (max-width: 900px) {
  .carousel__title {
    font-size: 1.2em;
  }
  .carousel__title__border {
    height: 1px;
  }
  .carousel__subtitle {
    font-size: 0.8em;
  }
  .carousel__template {
    height: 350px;
    width: 274px;
  }
  .carousel__template__addIcon {
    height: 30px;
    width: 30px;
  }
  .carousel__template__title {
    font-size: 1.1em;
  }
  .carousel__template__subtitle {
    font-size: 0.8em;
  }
}

@media (max-width: 700px) {
  .carousel__title, .carousel__subtitle {
    text-align: center;
    margin: 0 auto;
  }
  .carousel__title {
    font-size: 1em;
    margin-bottom: 7px;
  }
  .carousel__subtitle {
    font-size: 0.5em;
    margin-bottom: 20px;
  }
  .carousel__title__border {
    margin: 0 auto;
  }
  .carousel__template {
    height: 300px;
    width: 235px;
    padding: 0 25px;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .carousel__template__title {
    font-size: 1em;
  }
  .carousel__template__subtitle {
    font-size: 0.5em;
  }
}

.propertyCard {
  height: 440px;
  width: 345px;
  border-radius: 10px;
  border: solid 1px rgba(0, 51, 86, 0.7);
  border-bottom: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 36% min-content min-content min-content auto min-content;
      grid-template-rows: 36% -webkit-min-content -webkit-min-content -webkit-min-content auto -webkit-min-content;
      grid-template-rows: 36% min-content min-content min-content auto min-content;
}

.propertyCard__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 10px 10px 0 0;
}

.propertyCard__title {
  font-weight: 500;
  font-size: 1em;
  margin: 5px 0;
  margin-left: 10px;
}

.propertyCard__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.propertyCard__details__price {
  font-size: 1.2em;
  font-weight: 700;
}

.propertyCard__details__vsBudget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propertyCard__details__vsBudget__amount {
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
}

.propertyCard__details__vsBudget__amount-lower {
  color: #3cc35c;
}

.propertyCard__details__vsBudget__amount-higher {
  color: red;
}

.propertyCard__details__vsBudget__label {
  font-size: 0.5em;
}

.propertyCard__details__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.propertyCard__details__stats__icon {
  height: 25px;
  width: 25px;
}

.propertyCard__details__stats__number {
  font-weight: 500;
}

.propertyCard__navigation {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.propertyCard__navigation__item {
  color: rgba(0, 51, 86, 0.4);
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  line-height: 1.1em;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.propertyCard__navigation__item-active {
  color: #003356;
  border-bottom: 1px #ff5f58 solid;
}

.propertyCard__notes {
  height: calc(100% - 24px);
  width: calc(100% - 24px);
  margin: 12px;
  resize: none;
  padding-left: 5px;
  padding-top: 3px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 51, 86, 0.4);
}

.propertyCard__organize {
  justify-self: center;
  width: calc(100% + 2px);
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6px;
  position: relative;
}

.propertyCard__organize__button {
  cursor: pointer;
  border-radius: 4px;
}

.propertyCard__organize__button-wide {
  width: calc(50% - 15px - 3px);
  height: 100%;
  color: white;
  background-color: #003356;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.propertyCard__organize__button-narrow {
  width: 30px;
  height: 100%;
  color: white;
  background-color: #ff5f58;
}

.manageDropdown {
  right: 10px;
  top: 30px;
}

.manageDropdown__item {
  padding: 7px;
  color: #003356;
  font-size: 0.8em;
  font-weight: 600;
}

.manageDropdown__item:hover {
  background-color: #e9e9e9;
}

@media (max-width: 900px) {
  .propertyCard {
    height: 400px;
    width: 270px;
  }
  .propertyCard__title {
    font-size: 0.8em;
  }
  .propertyCard__details {
    margin: 0 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .propertyCard__details__price {
    font-size: 1em;
  }
  .propertyCard__details__vsBudget {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .propertyCard__details__vsBudget__amount {
    font-size: 0.7em;
  }
  .propertyCard__details__vsBudget__label {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .propertyCard__details__stats {
    margin-top: 2px;
  }
  .propertyCard__details__stats__icon {
    height: 20px;
    width: 20px;
  }
  .propertyCard__details__stats__number {
    font-size: 1em;
  }
  .propertyCard__navigation {
    margin: 10px 0;
  }
  .propertyCard__navigation__item {
    font-size: 0.8em;
  }
}

.seeAll {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .propertyCard {
    margin: 0 auto;
  }
}

.cardRatings {
  list-style: none;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cardRatings__ratingItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cardRatings__ratingItem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardRatings__ratingOption {
  font-weight: 400;
  font-size: 1em;
}

.cardRatings__rating {
  font-weight: 500;
  font-size: 1.1em;
  position: relative;
}

.cardRatings__darrow {
  cursor: pointer;
}

.ratingDropdown {
  height: 120px;
  width: 100px;
  top: 0;
  left: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  gap: 3px;
}

.ratingDropdown__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  padding-left: 10px;
  cursor: pointer;
  font-size: 0.8em;
}

.ratingDropdown__rating:hover {
  background-color: #e9e9e9;
}

@media (max-width: 700px) {
  .cardRatings__ratingOption {
    font-size: 0.6em;
  }
  .cardRatings__rating {
    font-size: 0.8em;
  }
}

.cardViewings {
  padding: 0 10px;
}

.cardViewings__title {
  font-size: 0.6em;
}

.cardViewings__form {
  height: 100%;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cardViewings__form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.cardViewings__form__input {
  border: 1px solid #003356;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 90%;
}

@media (max-width: 900px) {
  .cardViewings__form__label {
    font-size: 0.8em;
  }
  .cardViewings__form__input {
    height: 18px;
    font-size: 0.7em;
    max-width: 50%;
  }
}

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
  margin: 0;
}

.toggle-switch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in 0s;
  transition: margin 0.15s ease-in 0s;
}

.toggle-switch-inner:before, .toggle-switch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.toggle-switch-inner:before {
  content: "Yes";
  text-transform: uppercase;
  padding-left: 10px;
  background-color: #45c25a;
  color: #fff;
}

.toggle-switch-disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-disabled:before {
  background-color: #ddd;
  cursor: not-allowed;
}

.toggle-switch-inner:after {
  content: "No";
  text-transform: uppercase;
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}

.toggle-switch-switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  -webkit-transition: all 0.15s ease-in 0s;
  transition: all 0.15s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
  margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
  right: 0px;
}

@media (max-width: 900px) {
  .toggle-switch {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.setup {
  margin-left: 15%;
  height: 100%;
  width: 70%;
}

.setup__page {
  height: calc(100vh - 80px);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setup__page__body {
  height: 85%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
}

.setup__title {
  font-size: 3em;
}

.setup__subtitle {
  font-size: 1.4em;
  font-weight: 500;
}

.setup__heading {
  font-size: 1em;
  font-weight: 600;
  margin-top: 15px;
  color: #003356;
}

.setup__text {
  font-size: 0.8em;
  font-weight: 300;
}

.setup__text-small {
  font-size: 0.4em;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.setup__text-small .hyperlink {
  font-weight: 500;
  text-decoration: underline;
  -webkit-text-decoration-color: #1e2f42;
          text-decoration-color: #1e2f42;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .setup__title {
    font-size: 2.2em;
  }
  .setup__subtitle {
    font-size: 1.2em;
  }
}

@media (max-width: 1200px) {
  .setup {
    margin: 0 auto;
    width: 70%;
  }
  .setup__page {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .setup__page__body {
    display: block;
  }
}

@media (max-width: 900px) {
  .setup__button-secondary-fixed {
    width: 100%;
  }
  .setup__button-secondary-flexible {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .setup {
    width: 75%;
  }
  .setup__title {
    font-size: 2.1em;
  }
  .setup__subtitle {
    font-size: 1.1em;
  }
  .setup__text {
    font-size: 0.5em;
  }
  .setup__heading {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .setup__title {
    font-size: 1.4em;
  }
  .setup__subtitle {
    font-size: 0.9em;
  }
}

.signup__form {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup__form__inputsection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.signup__form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.signup__form__item-narrow {
  width: 45%;
}

.signup__form__label {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.signup__form__input {
  height: 50px;
  width: 100%;
  background-color: white;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.3em;
}

.signup__form__input:focus {
  border: 1px solid #9e9e9e;
}

.signup__form__requirementssection {
  width: 45%;
}

.signup__form__requirementsitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #92aecd;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.signup__form__requirementsitem div {
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.signup__form__requirementsitem-active {
  color: #1e2f42;
}

.signup__form__requirementsitem-active div {
  border-color: #1e2f42;
  background-color: #1e2f42;
}

.signup__form__radiobutton {
  border: 1px solid #b5c8dd;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.signup__form__radiobutton-active {
  background-color: #1e2f42;
}

.signup__form__error {
  color: red;
}

.signup__form__error input,
.signup__form__error div {
  border: 1px red solid;
}

.signup__form__submit {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 315px;
  height: 45px;
}

.signup__form__submitText {
  color: #003356;
  font-size: 1em;
  text-decoration: underline;
}

@media (max-width: 1600px) {
  .signup__form__input {
    height: 35px;
  }
  .signup__form__label {
    font-size: 0.9em;
  }
  .signup__form__requirementsitem {
    font-size: 0.8em;
  }
  .signup__form__radiobutton {
    height: 8px;
    width: 8px;
  }
}

@media (max-width: 700px) {
  .signup__form__submit {
    width: 100%;
    font-size: 1em;
  }
  .signup__form__submitText {
    font-size: 0.9em;
  }
  .signup__form__input {
    font-size: 0.8em;
  }
  .signup__form__inputsection-password {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .signup__form__inputsection-password .signup__form__item {
    width: 100%;
  }
  .signup__form__requirementssection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    text-align: center;
  }
  .signup__form__requirementsitem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .signup__form__label {
    font-size: 0.5em;
  }
  .signup__form__input {
    height: 25px;
    font-size: 0.5em;
  }
  .signup__form__requirementsitem {
    font-size: 0.4em;
  }
}

.userSetup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.userSetup__form__button {
  width: 30%;
  height: 45px;
}

.userSetup__form__label {
  margin-top: 25px;
  margin-bottom: 15px;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.userSetup__form__label-error {
  color: red;
}

.userSetup__form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
}

.userSetup__form__section-budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.userSetup__form__section-budget i {
  position: absolute;
  left: 10px;
  font-size: 1.3em;
  color: #1e2f42;
}

.userSetup__form__submit {
  margin-top: 50px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 315px;
  height: 45px;
}

.userSetup__form__budget {
  width: 30%;
  height: 45px;
  font-size: 1.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 30px;
  color: #1e2f42;
  background-color: #e9e9e9;
  font-weight: 600;
  border-radius: 0.3em;
}

@media (max-width: 900px) {
  .userSetup__form {
    margin-top: 20px;
  }
  .userSetup__form__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .userSetup__form__section-budget {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .userSetup__form__button {
    width: 100%;
    font-size: 1em;
  }
  .userSetup__form__budget {
    width: 100%;
    font-size: 0.9em;
  }
  .userSetup__form__submit {
    margin-bottom: 100px;
    width: 100%;
    font-size: 1em;
  }
}

.ratingSetup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.ratingSetup__button {
  height: 45px;
  width: 135px;
}

.ratingSetup__button-rating {
  margin: 5px 10px;
  font-size: 0.85em;
}

.ratingSetup__label {
  margin-bottom: 15px;
}

.ratingSetup__categoriesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.ratingSetup__ratingOptionsList {
  width: 100%;
}

.ratingSetup__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 55% auto;
      grid-template-columns: 55% auto;
  gap: 50px;
}

.ratingSetup__section-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.ratingSetup__submit {
  margin: 0 auto;
  margin-top: 50px;
}

.ratingSetup__select {
  width: 70%;
  height: 40px;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 10px;
  font-size: 1.2em;
  min-width: 200px;
  position: relative;
}

.ratingSetup__select input {
  padding-left: 10px;
  font-size: 0.8em;
  font-weight: 600;
  color: #003356;
  width: calc(100% - 40px);
}

.ratingSetup__select input::-webkit-input-placeholder {
  color: lightgray;
  font-weight: 400;
}

.ratingSetup__select input:-ms-input-placeholder {
  color: lightgray;
  font-weight: 400;
}

.ratingSetup__select input::-ms-input-placeholder {
  color: lightgray;
  font-weight: 400;
}

.ratingSetup__select input::placeholder {
  color: lightgray;
  font-weight: 400;
}

.ratingSetup__select p {
  position: absolute;
  right: 10px;
  font-weight: 300;
  font-size: 0.8em;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .ratingSetup__button {
    height: 35px;
    width: 105px;
    font-size: 0.95em;
  }
}

@media (max-width: 1200px) {
  .ratingSetup__categoriesList {
    max-width: 650px;
  }
}

@media (max-width: 900px) {
  .ratingSetup__section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .ratingSetup__section-select {
    margin: 0 auto;
    text-align: center;
  }
  .ratingSetup__select {
    margin: 0 auto;
    width: 80%;
  }
  .ratingSetup__submit {
    margin-bottom: 100px;
  }
  .ratingSetup__button {
    height: 35px;
    width: 100%;
    margin: 2px;
  }
  .ratingSetup__button-rating {
    margin: 5px 10px;
    font-size: 0.85em;
    width: 60%;
  }
  .ratingSetup__categoriesList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    gap: 5px;
    max-width: none;
  }
  .ratingSetup__ratingOptionsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 700px) {
  .ratingSetup__button {
    height: 35px;
    width: 100%;
    margin: 2px;
  }
  .ratingSetup__button-rating {
    margin: 5px 10px;
    font-size: 0.85em;
    width: 80%;
  }
  .ratingSetup__categoriesList {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    gap: 5px;
    max-width: none;
  }
  .ratingSetup__ratingOptionsList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.congrats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.congrats__icon {
  height: 70%;
  width: 70%;
  max-width: 400px;
  max-height: 400px;
  background: url("/src/assets/house.svg") center no-repeat;
  background-size: contain;
}

.setupCongrats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.setupCongrats__center {
  text-align: center;
  margin-bottom: 20px;
}

.setupCongrats__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.setupCongrats__button-outline {
  width: 400px;
  height: 35px;
  font-size: 1em;
}

.setupCongrats__button-primary {
  margin-bottom: 10px;
  width: 550px;
  height: 50px;
  font-size: 1.3em;
}

@media (max-width: 700px) {
  .setupCongrats__buttons a {
    display: block;
    width: 100%;
    height: 30px;
  }
  .setupCongrats__button-primary {
    width: 100%;
    height: 40px;
  }
  .setupCongrats__button-outline {
    width: 100%;
    height: 35px;
  }
}

.listings {
  width: 100%;
}

.listings__stats {
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin: 50px;
}

.listings__stats__stat {
  background-color: white;
  border-radius: 5px;
  height: 75px;
  width: 165px;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-out forwards;
          animation: fadeIn 0.3s ease-out forwards;
}

.listings__stats__stat:nth-child(1) {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.listings__stats__stat:nth-child(2) {
  -webkit-animation-delay: calc(50ms * 2);
          animation-delay: calc(50ms * 2);
}

.listings__stats__stat:nth-child(3) {
  -webkit-animation-delay: calc(50ms * 3);
          animation-delay: calc(50ms * 3);
}

.listings__stats__stat__number {
  font-size: 1.8em;
  font-weight: 600;
}

.listings__stats__stat__title {
  font-size: 0.9em;
}

@media (max-width: 900px) {
  .listings__stats__stat {
    width: 120px;
    height: 55px;
  }
  .listings__stats__stat__number {
    font-size: 1.3em;
  }
  .listings__stats__stat__title {
    font-size: 0.7em;
  }
}

@media (max-width: 700px) {
  .listings {
    padding-top: 50px;
  }
  .listings__stats {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.account {
  width: 100%;
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 80px;
      grid-template-areas: "manageRatings personalDetails" "accountDetails accountDetails" "contactPreferences contactPreferences";
}

.account__section {
  width: 90%;
}

.account__section__title {
  margin-bottom: 8px;
  white-space: nowrap;
}

.account__section__subtitle {
  margin: 0;
  margin-bottom: 16px;
}

.account__managePreferences__list {
  width: 200px;
}

.account__managePreferences__list__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.account__managePreferences__list__label {
  font-size: 1.2em;
  font-weight: 600;
}

@media (max-width: 900px) {
  .account {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .account__section__title, .account__section__subtitle {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .account__section__title__border, .account__section__subtitle__border {
    margin: 0 auto;
  }
  .account__section__subtitle {
    margin-bottom: 25px;
  }
  .account__managePreferences__list {
    width: 150px;
    margin: 0 auto;
  }
  .account__managePreferences__list__label {
    font-size: 1em;
  }
}

.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
}

.confetti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 800px;
  overflow: hidden;
  pointer-events: none;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}

.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-67deg);
          transform: rotate(-67deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 464ms;
          animation-delay: 464ms;
  -webkit-animation-duration: 2661ms;
          animation-duration: 2661ms;
}

.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 153ms;
          animation-delay: 153ms;
  -webkit-animation-duration: 2418ms;
          animation-duration: 2418ms;
}

.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 611ms;
          animation-delay: 611ms;
  -webkit-animation-duration: 2555ms;
          animation-duration: 2555ms;
}

.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 799ms;
          animation-delay: 799ms;
  -webkit-animation-duration: 2626ms;
          animation-duration: 2626ms;
}

.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(79deg);
          transform: rotate(79deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1290ms;
          animation-delay: 1290ms;
  -webkit-animation-duration: 2638ms;
          animation-duration: 2638ms;
}

.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(49deg);
          transform: rotate(49deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1353ms;
          animation-delay: 1353ms;
  -webkit-animation-duration: 3073ms;
          animation-duration: 3073ms;
}

.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 898ms;
          animation-delay: 898ms;
  -webkit-animation-duration: 3076ms;
          animation-duration: 3076ms;
}

.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 720ms;
          animation-delay: 720ms;
  -webkit-animation-duration: 2992ms;
          animation-duration: 2992ms;
}

.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(-57deg);
          transform: rotate(-57deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 1236ms;
          animation-delay: 1236ms;
  -webkit-animation-duration: 2367ms;
          animation-duration: 2367ms;
}

.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(-51deg);
          transform: rotate(-51deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 953ms;
          animation-delay: 953ms;
  -webkit-animation-duration: 2900ms;
          animation-duration: 2900ms;
}

.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(56deg);
          transform: rotate(56deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 993ms;
          animation-delay: 993ms;
  -webkit-animation-duration: 2746ms;
          animation-duration: 2746ms;
}

.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 163ms;
          animation-delay: 163ms;
  -webkit-animation-duration: 3108ms;
          animation-duration: 3108ms;
}

.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(-49deg);
          transform: rotate(-49deg);
  -webkit-animation: makeItRain 3000ms infinite ease-out;
          animation: makeItRain 3000ms infinite ease-out;
  -webkit-animation-delay: 117ms;
          animation-delay: 117ms;
  -webkit-animation-duration: 2758ms;
          animation-duration: 2758ms;
}

.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}

.confetti-piece:nth-child(even) {
  z-index: 1;
}

.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
}

.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 7500ms;
          animation-duration: 7500ms;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(800px);
            transform: translateY(800px);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(800px);
            transform: translateY(800px);
  }
}
/*# sourceMappingURL=main.css.map */